<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nitj.nitjadminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NITJAdminApp">
        <activity
            android:name=".screens.UploadDownloadOtherLInks"
            android:exported="false" />
        <activity
            android:name=".screens.UploadStudentCorner"
            android:exported="false" />
        <activity
            android:name=".screens.AutoImageSlider"
            android:exported="false" />
        <activity
            android:name=".screens.DeleteNotice"
            android:exported="false" />
        <activity
            android:name=".screens.AddUpdateFaculty"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.Faculty"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.AllBranches"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.UploadEbook"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.UploadGalleryImages"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.UploadNotice"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".firebaseNotificationJava.FirebaseServiceJava"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.Receive" />
            </intent-filter>
        </service>
    </application>

</manifest>